/*font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 62,5%;
}
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

.headerMain{
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.topSeparation{
    height: 100px;
    width: 100vw;
}
header > h1 {
    display: none;
}
.rightAlignNav{    
    width: 45vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rightAlignNav > a {
    margin-right: 2em;
    font-size: 1.5rem;
}
@media(max-width: 499px) {
    .logoImageNav {
        margin-left: .3rem;
        max-width: 200px;
    }
    .rightAlignNav{
        margin-right: 1rem;;
    }
    .rightAlignNav > i {
        margin: 1rem;
        font-size: 1.5rem;
    }
    .rightAlignNav > a {
        display: none;
    }

}
@media(min-width: 500px) {
    .logoImageNav {
        max-width: 250px;
    }
    .rightAlignNav > i {
        display: none;
    }
}